boto3==1.23.7
botocore==1.26.7
Brotli==1.0.9
chardet==4.0.0
cloudpickle==2.2.0
colorama==0.4.6
cryptography==36.0.2
cycler==0.11.0
Cython==0.29.33
defusedxml==0.7.1
docutils==0.19
gunicorn==20.1.0
ipython==8.3.0
jsonpointer==2.0
keyring==23.5.1
Mako==1.2.4
matplotlib==3.5.2
plotly==5.8.2
psutil==5.9.4
py==1.11.0
pyOpenSSL==22.0.0
pyrsistent==0.19.2
PyYAML==6.0
scipy==1.8.1
simplejson==3.16.0
SQLAlchemy==1.4.44
tenacity==8.1.0
threadpoolctl==3.1.0
traitlets==5.2.1.post0
openai==0.27.0
youtube_transcript_api
streamlit==1.19.0
bs4
